body {
    background-color: black;
}

app {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}

.transition {
    transition-property: top left right bottom;
    transition-duration: 0.7s;
}

.flex {
    display: flex;
    align-items: center;
}

.pane {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #000000;
    box-sizing: border-box;
    padding: 20px;
}

.main-menu {
    position: absolute;
    width: 480px;
    height: 480px;
    top: -480px;
    left: 10px;
}

.main-menu.show {
    top: 10px
}

.option-dialog {
    position: absolute;
    width: 480px;
    height: 80px;
    top: -80px;
    left: 10px;
}

.option-dialog.show {
    top: 10px
}

.inventory-dialog {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 100px;
    left: -350px;
}

.inventory-dialog.show {
    left: 75px
}

.status-pane {
    position: absolute;
    width: 400px;
    height: 40px;
    right: 10px;
    bottom: -200px;
}

.status-pane.show {
    bottom: 10px;
}

.icon {
    margin-left: 8px;
    width: 50px;
    height: 50px;
}

.highlight {
    box-shadow: inset 0px 0px 3px 3px black;
    border-radius: 10px;
}

.progress-bar-container {
    position: absolute;
    background-color: white;
    width: 70%;
    height: 30px;
    top: 200px;
    left: 15%;
    overflow: hidden;
    border-radius: 15px;
}

.progress-bar {
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.traits-coins {
    float: left;
    width: 30%;
    height: 80%;
}

.item-list {
    float: left;
    width: 70%;
    height: 80%;
}

.item-tooltip {
    height: 20%;
    width: 100%;
}

.item-list li {
    padding: 10px;
}

.list-item {
    float: left;
}
