<canvas id="game" width="500" height="500"></canvas>
<div class="pane flex main-menu transition show" [ngClass]="{show: !world}">
    <div>
        <h2>Not Animal Crossing</h2>
        <form #f="ngForm" (submit)="onGo(f)">
            <!-- <input type="radio" ngControl="server" value="0">Client | <input type="radio" ngControl="server" value="1">Server<br> -->
            <select ngControl="server">
                <option value="0">Client</option>
                <option value="1">Server</option>
            </select>
            IP Address: <input type="text" ngControl="ip">
            <button type="submit">Go</button>
        </form>
    </div>
</div>

<div *ngIf="state">
    <div class="pane flex option-dialog transition" [ngClass]="{show: state.ui.options}">
        <img *ngFor="#option of state.ui.options; #i = index;" class="icon" [src]="option.image" [ngClass]="{highlight: state.ui.selected == i}">
    </div>

    <div class="pane inventory-dialog transition" [ngClass]="{show: state.ui.inventory}">
        <div class="traits-coins">
            <h4>Coins: {{ state.inventory.coins }}</h4>
            <h4>STR: {{ state.traits.STR }}</h4>
            <h4>INT: {{ state.traits.INT }}</h4>
        </div>
        <div class="item-list">
            <img *ngFor="#item of state.inventory.items; #i = index;" class="icon list-item" [src]="data.item[item].icon" [ngClass]="{highlight: state.ui.selected == i}">
        </div>
        <div *ngIf="state.ui.inventory" class="item-tooltip">
            <i>{{ data.item[state.inventory.items[state.ui.selected]].info.tooltip }}</i>
        </div>
    </div>

    <div *ngIf="state.action.name" class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{width: state.action.progress + '%'}">
        </div>
    </div>
</div>

<div class="pane flex status-pane transition" [ngClass]="{show: state && state.needs}">
    HUN {{ state && state.needs ? state.needs.HUN : 0 }}/10
    STA {{ state && state.needs ? state.needs.STA : 0 }}/10
    HYG {{ state && state.needs ? state.needs.HYG : 0 }}/10
</div>
